#menu{
    display:inline-flex;
    flex-wrap: wrap; 
    border-radius: 25px;
    background: #83c0e6;
    padding: 20px;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: thin solid black;
    box-shadow: 1px 4px 5px 3px #888888;
}
#menu > div{
    display: flex;
    margin:5px;
}
.tagCheckBox{
    padding:5px;
}
.tagNameDiv{
    line-height:30px; 
    margin-left:5px;
}
.menuAbove{
    z-index: 1;
}
.menuBelow{
    z-index: -1;
    opacity: 0.3;
}